{% extends 'shared/layout.html' %}

{% block maincontent %}
  <!--full main-->
  <div id="full_main">
    <div class="row box_row">
      <div class="column image_column"></div>
      <div class="column text_column">
        <div class="text_box">
          <p class="paragraph">
            <span class="big_name">Shiyu Yan</span> is an outgoing person, stimulated by seeing improvements on how things are done.
            I have a career plan with an ultimate goal to create a fintech company that supports financial analysis by investment platforms or multifunctional consultation software.
            I have deep passions in leveraging the power of software development to better connect services and people.
            During my internship at Yongan Futures, my hands-on experience with a trading platform which combined data analysis with user interface and customized features has shown me the power of software development.
            User experience and one-stop multi-functional software gradually become attractive points for financial companies or self-employed people.
            From the other perspective, software for consulting services for companies is an area I would like to work on as well.
            My achievement to date was my carbon consumption model work at Ernst & Young to assist the firms in monitoring carbon footprint.
            During this internship, the full-stack development experience of web applications made me more determined to go into software development as a career path.
            It is my short-term goal to be a software engineer to implement data analytics and customized platforms or software for non-technical clients.
            <br /><br />
            Ultimately, I plan to combine my strengths and experience to work towards launching my own fintech company which focuses on scalable backup solutions.
            The market has no shortage of well-funded platforms such as Ant Financial which dominate both utility payments and retail investments.
            But smaller start-ups that can disrupt markets with more cost-effective alternatives find it difficult to compete without a dedicated back-end engineering team.
            But smaller start-ups that can disrupt markets with more cost-effective alternatives find it difficult to compete without a dedicated back-end engineering team.
            By concentrating resources to support emerging platforms, retail customers and businesses can have more choice in choosing investment platforms.
            <br /><br />
            My curiosity spans across different areas.
            Apart from my core interest in programming and analytics, I am also a keen portrait photographer.
            Furthermore, I was a pastry chef at Michigan State University's cafe before COVID as I am enthusiastic about exploring culinary experiences and sharing them with others.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--short main-->
  <div id="short_main" class="short_main">
    <div class="column short_column">
      <div class="short_personal_image"></div>
      <div class="short_box">
        <p class="short_paragraph">
          <span class="big_name">Shiyu Yan</span> is an outgoing person, stimulated by seeing improvements on how things are done.
          I have a career plan with an ultimate goal to create a fintech company that supports financial analysis by investment platforms or multifunctional consultation software.
          I have deep passions in leveraging the power of software development to better connect services and people.
          During my internship at Yongan Futures, my hands-on experience with a trading platform which combined data analysis with user interface and customized features has shown me the power of software development.
          User experience and one-stop multi-functional software gradually become attractive points for financial companies or self-employed people.
          From the other perspective, software for consulting services for companies is an area I would like to work on as well.
          My achievement to date was my carbon consumption model work at Ernst & Young to assist the firms in monitoring carbon footprint.
          During this internship, the full-stack development experience of web applications made me more determined to go into software development as a career path.
          It is my short-term goal to be a software engineer to implement data analytics and customized platforms or software for non-technical clients.
          <br /><br />
          Ultimately, I plan to combine my strengths and experience to work towards launching my own fintech company which focuses on scalable backup solutions.
          The market has no shortage of well-funded platforms such as Ant Financial which dominate both utility payments and retail investments.
          But smaller start-ups that can disrupt markets with more cost-effective alternatives find it difficult to compete without a dedicated back-end engineering team.
          But smaller start-ups that can disrupt markets with more cost-effective alternatives find it difficult to compete without a dedicated back-end engineering team.
          By concentrating resources to support emerging platforms, retail customers and businesses can have more choice in choosing investment platforms.
          <br /><br />
          My curiosity spans across different areas.
          Apart from my core interest in programming and analytics, I am also a keen portrait photographer.
          Furthermore, I was a pastry chef at Michigan State University's cafe before COVID as I am enthusiastic about exploring culinary experiences and sharing them with others.
        </p>
      </div>
    </div>
  </div>
  <!--fun fact-->
  <hr class="home_line">
  <div class="fun_fact_title">
    <p>A fun fact about me:</p>
  </div>
  <div class="fun_fact_content">
    <p>{{fun_fact}}</p>
  </div>

{% endblock %}


