{% extends 'shared/NFTlayout.html' %}

{% block maincontent %}
<div class="welcome_content">
    <br>
    <br>
    <div class="welcome_title">Non-Fungible Token Trading Marketplace</div>
    <br>
    <div><a class="welcome_options"href="/buyer">Would you like to browse people's NFT artworks and make purchases?</a></div>
    <br>
    <div><a class="welcome_options"href="/seller">Would you like to sell your own NFT artworks or generate random NFT artworks yourself?</a></div>
    <br>
    <br>
</div>
{% block extrajs %}{% endblock %}

{% endblock %}