<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shiyu's personal page</title>
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
  {% block extracss %}{% endblock %}

</head>

<body>
    <!--header-->
    <header>
      <div class="banner"></div>
    </header>
    <!--navigator-->
    <nav class="navigator">
        <!--left of the screen-->
        
        {% if user == 'Unknown' %}  
          <p class="nav_title">CSE477 - Homework 3</p>
        {% else %}
          <p class="nav_title">Welcome {{user}}</p>
        {% endif %}

        <!--right of the screen-->
        <!--full nav-->
        <div id="full_nav">
            <a href="https://www.linkedin.com/in/shiyu-yan-105141255/"><img class="full_linkin" src="{{ url_for('static', filename='main/images/social-linkedin.png') }}" alt="Linkin" loading="lazy"/></a>
            
            <!-- if login in, show logout -->
            {% if user == 'Unknown' %}  
              <a class="full_login" href="/signup">Signup</a>
              <a class="full_login" href="/login">Login</a>
            {% else %}
              <a class="full_login" href="/logout">Logout</a>
            {% endif %}
            <a class="full_chat" href="/chat">Chat</a>
            <a class="full_resume" href="/resume">Resume</a>
            <a class="full_projects" href="/projects">Projects</a>
            <a class="full_home" href="/home">Home</a>
        </div>
        <!--short nav-->
        <img id="select_button" class="select_button" src="{{ url_for('static', filename='main/images/menu-bar.png') }}" alt="select" loading="lazy"/>

        <!--short nav content-->
        <div id="select_content" class="select_content">
            <a class="short_home" href="/home">Home</a>
            <a class="short_projects" href="/projects">Projects</a>
            <a class="short_resume" href="/resume">Resume</a>
            <a class="short_chat" href="/chat">Chat</a>

            {% if user == 'Unknown' %}  
              <a class="short_login" href="/login">Login</a>
              <a class="short_login" href="/signup">Signup</a>
            {% else %}
              <a class="short_logout" href="/logout">Logout</a>
            {% endif %}
            
            <a class="short_linkin" href="https://www.linkedin.com/in/shiyu-yan-105141255/">LinkedIn</a>
        </div>
    </nav>

    <!-- The main content  -->
    <main>
      {% block maincontent %}{% endblock %}
    </main>

    <!--dialog-->
    <div id="feedback_dialog" class="feedback_dialog">
        <form id="feedback_form" action="/processfeedback" method="POST" enctype="application/x-www-form-urlencoded">
            <!--
            1. the for attribute with same id of <input> element,
            clicking on the label will give focus to the associated input element.
            2. the name attribute is used to give a name to the <input> element when submit
            -->
            <label for="name">Name</label><br>
            <input class="dialog_input_box" type="text" id="name" name="name"><br><br>

            <label for="email">Email</label><br>
            <input class="dialog_input_box" type="email" id="email" name="email"><br><br>

            <label for="comment">Comment</label><br>
            <textarea class="dialog_textarea_box" id="comment" name="comment"></textarea><br><br>

            <button class="dialog_submit" type="submit">Submit</button>
        </form>
    </div>

    <!--feedback toggle-->
    <div id="feedback_toggle" class="feedback_toggle" >Feedback</div>

    <!-- The footer of the file -->
    <footer>
        <!-- copyright -->
        <div class="copyright_area">
            <div class="copyright_text">© 2023 Shiyu Yan</div>
        </div>
    </footer>



    <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script>
    {% block extrajs %}{% endblock %}
  
</body>

</html>















